@using Alamut.Utilities.Google
@{
    Layout = null;
}

@inject GoogleCaptchaConfig CaptchaConfig
<!DOCTYPE html>

<html>
<head>
    <title>chaptcha Test </title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <form method="post" asp-action="CaptchaDo">
        <fieldset>
            <legend>Add Customer</legend>
            <div>
                <label for="CompanyName">Company Name:</label>
                <input type="text" name="CompanyName" value="" />
            </div>
            <div>
                <label for="ContactName">Contact Name:</label>
                <input type="text" name="ContactName" value="" />
            </div>
            <div>
                <label for="Employees">Employee Count:</label>
                <input type="text" name="Employees" value="" />
            </div>
            <div class="g-recaptcha" data-sitekey="@CaptchaConfig.SiteKey"></div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>

    </form>
</body>
</html>